{% extends "base.html" %} {% block title %}Quote Request{% endblock %} {% block content %}

<!-- <div class="container z-depth-5 table_display" style="margin-top:80px;"> -->
<div class="container">
<div class="row" style="padding-top:5%">
  <div class="col s12 table_display ">

    <table class="highlight responsive-table centered">
      <thead>
        <tr>
          <th>Date</th>
          <th>location</th>
          <th>user</th>
          <th>ID</th>
          <th>miles</th>
          <th>gallons</th>
          <th>price</th>
          <th>fuel</th>
          <th>Wex</th>
        </tr>
      </thead>
      <tbody>
        {% for item in logs %}
        <tr>
          <td>{{item.createdAt.toDateString()}}</td>
          <td>{{item.location}}</td>
          <td>{{item.user.firstName}}</td>
          <td>{{item.user.employee}}</td>
          <td>{{item.miles}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.gallons}}</td>
          <td>{{item.fuel_type}}</td>
          <td>{{item.user.wex}}</td>
        </tr>

        {% endfor %}


      </tbody>
    </table>

  </div></div>
  <!--  </div> -->


  {% endblock %}