{% extends "base.html" %} {% block title %}Data Logs - {% endblock %} {% block content %}

<!-- <div class="container z-depth-5 table_display" style="margin-top:80px;"> -->
<div class="container">
  <div class="row" style="padding-top:5%">
    <form action="/" method="post" enctype="multipart/form-data">

      <div class="row">
        <div class="col s6">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" name="csvFile" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" name="csvFile">
            </div>
          </div>

        </div>
        <div class="col s2">
          <button type="submit" class="waves-effect waves-light btn-small">
            Import
          </button>
        </div>
      </div>

    </form>



    <form action="/search" method="post" >
      <div class="row">
          <div class="input-field col s2">
            <i class="material-icons prefix">search</i>
            <input id="dateRange" type="text" class="datepicker validate" name="dateRange" >
            <label for="dateRange">Search by Date</label>
          </div>
          <div class="input-field col s2">
              <p class="range-field"> Day range:
                  <input type="range" name="days" id="days" min="0" max="8" />
                </p>
          </div>

          <div class="input-field col s2">
              <select name="option">
                <option value="driver" selected>ALL</option>
                <option value="vehicle_id">Vehicle</option>
                <option value="driver">Driver</option>
                <option value="odometer">Odometer</option>
              </select>
              <label>Choose options:</label>
            </div>

          <div class="input-field col s2">
              <input id="query" type="text" class="validate" name="query" >
              <label for="query">Vehicle, Driver, Odometer</label>
            </div>
         
          <div class="col s2">
              <button type="submit" class="waves-effect waves-light btn-small">
                  <i class="material-icons prefix">search</i>
              </button>
            </div>
      </div>
      <div class="row">
      

      </div>
    </form>









    <div class="col s12 table_display ">
      <div class="right-align" >
        <h5 id = "totals"></h5>
      </div>
  
      <table id="searchTable" class="highlight responsive-table centered">
        <thead>
          <tr>
            <th>Card No.</th>
            <th>Department</th>
            <th>Vehicle ID</th>
            <th>Driver</th>
            <th>Transaction Date</th>
            <th>Merchant</th>
            <th>Odometer</th>
            <th>Product</th>
            <th>Units</th>
            <th>Fuel Cost</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in reports %}
          <tr>
            <td>{{item.card_number}}</td>
            <td>{{item.department}}</td>
            <td>{{item.vehicle_id}}</td>
            <td>{{item.driver}}</td>
            <td>{{item.date}}</td>
            <td>{{item.merchant}}</td>
            <td>{{item.odometer}}</td>
            <td>{{item.product}}</td>
            <td>{{item.units}}</td>
            <td>{{item.cost}}</td>
          </tr>

          {% endfor %}


        </tbody>
      </table>

    </div>
  </div>
  <!--  </div> -->


  {% endblock %}