{% extends "base.html" %} {% block content %}

<form action="/log" method="POST">
  <div class="container" style="background-color: white">
    <div class="row">
      <br>
    </div>

    <div class="row">
      <div class="col s6 m4 offset-m2 input-field inline">
        <input id="vehicle_id" type="text" name="vehicle_id" class="validate">
        <label for="vehicle_id">Vehicle ID: </label>
      </div>

      <div class="col s6 m4 input-field inline">
        <input id="odometer" type="number" name="odometer" class="validate">
        <label for="odometer">Odometer: </label>
      </div>
    </div>


    <div class="row">
      <div class="col s6 m4 offset-m2 input-field inline">
        <input id="merchant" type="text" name="merchant" class="validate autocomplete">
        <label for="merchant">Merchant: </label>
      </div>


      <div class="col s6 m4 input-field ">
        <select name="product">
          <option value='UNL' selected>Gasoline</option>
          <option value='DSL'>Diesel</option>

        </select>

        <label>Select fuel type</label>
      </div>

    </div>
    <div class="row">

      <div class="col s6 m4 offset-m2 input-field inline">
        <input id="units" type="number" step="0.01" name="units" class="validate">
        <label for="units">Gallons: </label>
      </div>

      <div class="col s6 m4 input-field inline">
        <input id="cost" type="number" step="0.01" name="cost" class="validate">
        <label for="cost">Total Cost: </label>
      </div>

      <input id="user_id" type="hidden" name="user_id" value="{{ users[0].id }}">
    </div>

    <div class="row">
      <div class="input-field col s12 m8 offset-m2">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="notes" name="notes" class="materialize-textarea"></textarea>
        <label for="notes">Notes</label>
      </div>
    </div>


    <div class="row">
      <div class="col s6 offset-m2">
        <button type="submit" class="waves-effect waves-light btn-small">
          <i class="large material-icons">add_circle_outline</i>
        </button>
      </div>
    </div>

  </form>


    <br>

    
    <div class="divider"></div>



    <div class="row">
      <table class="highlight responsive-table centered">
        <thead>
          <tr>
            <!-- <th>Card No.</th>
            <th>Department</th> -->
            <th>Vehicle ID</th>
            <!-- <th>Driver</th> -->
            <th>Transaction Date</th>
            <!-- <th>Location</th> -->
            <th>Merchant</th>
            <th>Odometer</th>
            <th>Product</th>
            <th>Units</th>
            <th>Fuel Cost</th>
          </tr>
        </thead>
        <tbody>
          {% for item in logs %}
          <tr>
              <!-- <td>{{item.user.card_number}}</td>
              <td>{{item.user.department}}</td> -->
              <td>{{item.vehicle_id}}</td>
              <!-- <td>{{item.user.firstName}} {{item.user.lastName}}</td> -->
              <td>{{item.createdAt.toDateString()}}</td>
              <!-- <td>{{item.location}}</td> -->
              <td>{{item.merchant}}</td>
              <td>{{item.odometer}}</td>
              <td>{{item.product}}</td>
              <td>{{item.units}} Gal</td>
              <td>$ {{item.cost}}</td>
          </tr>

          {% endfor %}


        </tbody>
      </table>
    </div>
    <br>
    <div class="divider"></div>


    <div class="row">
      <div class="col s10 "></div>
    </div>

</div>
{% endblock %} {#
<input type="hidden" value="{{item.id}}" name="id" />
<input type="hidden" value="{{item.done}}" name="done" /> #}